.main-container {
    position: relative;
    overflow: hidden;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-image: url("http://pre12.deviantart.net/d67c/th/pre/i/2013/075/1/b/pokemon_wallpaper___pokeball_by_kennedyzak-d5y9x2z.png");
    background-size: cover;
}

.title {
    text-align: center;
    margin-top: 35px;
}

.img-responsive {
    border: 7px solid orange;
}

.RPG {
    text-align: center;
}

#characterHealth {
    color: blue;
    font-size: 35px;
}

#enemyHealth {
    color: blue;
    font-size: 35px;
}
